<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chat test</title>
</head>
<body>


<div class="mainContent">
  <div class="userListWrapper">

  </div>
  <div #scroller class="feedWrapper col-lg-6 offset-lg-3">
    <app-feed></app-feed>
  </div>
</div>

<div class="chatFormWrapper col-lg-6 offset-lg-3">
  <app-chat-form></app-chat-form>

</div>

<canvas #myCanvas width="500" height="500"></canvas>

<!--<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let message of messages; let i = index">
    <th scope="row">{{message}}</th>
    <td>{{message}}</td>
  </tr>
  </tbody>
</table>-->


</body>
</html>
