/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


#joinroombutton {
  background: lightskyblue;
  font-size: small;
  font-family: Cambria;

}



app-chat {

  display: flex;
  flex-direction: column;
}
